{% extends "base.html" %}

{% block title %}
Nueva Contraseña
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">

            <div class="p-5 glass-card bg-white shadow-sm mt-4">

                <div class="text-center mb-4">
                    <h2 class="fw-bold text-dark m-0">
                        🔒 Nueva Contraseña
                    </h2>

                    <p class="text-secondary small mt-2">
                        Ingresa tu nueva contraseña para acceder nuevamente.
                    </p>
                </div>

                <hr class="text-muted mb-4">

                <form method="post">

                    {% csrf_token %}

                    {% if form.errors %}
                    <div class="alert alert-danger">
                        Verifica los datos ingresados.
                    </div>
                    {% endif %}

                    <div class="mb-4">
                        <label class="form-label fw-semibold">
                            Nueva contraseña
                        </label>

                        {{ form.new_password1 }}
                    </div>

                    <div class="mb-4">
                        <label class="form-label fw-semibold">
                            Confirmar contraseña
                        </label>

                        {{ form.new_password2 }}
                    </div>

                    <button
                        type="submit"
                        class="btn btn-primary w-100 premium-btn shadow-sm py-2">
                        Guardar Contraseña
                    </button>

                </form>

            </div>

        </div>
    </div>
</div>
{% endblock %}