{% extends "base.html" %}

{% block title %}
Cambiar Contraseña
{% endblock %}

{% block content %}
<div class="container py-5">

    <div class="row justify-content-center">

        <div class="col-lg-5 col-md-7">

            <div class="card border-0 shadow-lg">

                <div class="card-body p-5">

                    <div class="text-center mb-4">
                        <h2 class="fw-bold">
                            🔒 Cambiar Contraseña
                        </h2>

                        <p class="text-muted mb-0">
                            Mantén tu cuenta segura actualizando tu contraseña.
                        </p>
                    </div>

                    <form method="post">

                        {% csrf_token %}

                    <div class="mb-3">
                        <label class="form-label">Contraseña actual</label>
                        {{ form.old_password }}

                        {% for error in form.old_password.errors %}
                            <div class="text-danger small mt-1">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Nueva contraseña</label>
                        {{ form.new_password1 }}

                        {% for error in form.new_password1.errors %}
                            <div class="text-danger small mt-1">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>


                    <div class="mb-3">
                        <label class="form-label">Confirmar contraseña</label>
                        {{ form.new_password2 }}

                        {% for error in form.new_password2.errors %}
                            <div class="text-danger small mt-1">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>

                        <button type="submit"
                                class="btn btn-primary w-100 premium-btn py-2">
                            Guardar Nueva Contraseña
                        </button>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>
{% endblock %}